.mainBox {
    width: 100%;
    margin: 0 auto;
    max-width: 1440px;
}

.productsBox {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;

}



