.myButton {
  background-color: transparent;
  background-color: rgb(59, 130, 246);
  border: 0;
  border-radius: 4px;
  color: inherit;
  color: #fff;
  font-family: inherit;
  letter-spacing: .02em;
  margin-right: 12px;
  max-width: 272px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .2s ease;
  width: 100%;
  transition: .3s linear;
}

@media (hover: hover) {
  .myButton:hover {
    background-color: rgb(55, 126, 242);
  }
}
