.myButton {
    background-color: transparent;
    background-color: #3c2d29ff;
    border: 0;
    border-radius: 4px;
    color: inherit;
    color: #fff;
    font-family: inherit;
    letter-spacing: .02em;
    margin-right: 12px;
    max-width: 272px;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .2s ease;
    width: 100%;
    transition: .3s linear;
}

@media (hover: hover) {
    .myButton:hover {
        background-color: #70544d;
    }
}
