* {
  box-sizing: border-box;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pageBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 auto;
  max-width: 900px;
}

.fontAdaptiveName {
  font-size: calc(30px + 14 * ((100vw - 320px) / (1280 - 320)));
}
.fontAdaptiveAutor {
  font-size: calc(17px + 10 * ((100vw - 320px) / (1280 - 320)))
}

.imageBox {
  min-width: 450px;
  width: 50%;
  height: 50vh;
  max-height: 500px;
}

.imageWrapper {
  height: 100%;
}

.image {
  height: 100%;
}

.descriptionBox {
  display: flex;
  gap: 50px;
  flex-direction: column;
  min-width: 350px;
  width: 30%;
}

.annotaion {
  margin-top: 30px;
  text-align: justify;
}

@media (max-width: 800px) {
  .descriptionBox {
    display: flex;
    gap: 50px;
    flex-direction: column;
    min-width: 350px;
    margin: 20px 0;
    width: 100%;
    padding: 0 15px;
  }
}

.moduleImg {
  height: 100%;
}

@media (max-width: 500px) {
  .moduleImg {
    width: 100% !important;
    height: auto;
  }
}


:root {
  --caput-mortuum: #633427ff;
  --caput-mortuum-2: #4d2f27ff;
  --taupe: #46403dff;
  --rust: #a94d29ff;
  --van-dyke: #3c2d29ff;
}


.productCard {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 305px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  transition: .3s;
}

.productCard__imgWr {
  height: 322px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.productCard__imgWr__imgBox {
  height: 100%;
  padding: 16px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.productCard__imgWr__imgBox__img {
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.bookSpanBox {
  color: #fff;
  display: flex;
}

.bookItemMoney {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #ffffff;
}
.bookItemMoneyWithDiscount {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.bookName {
  color: #2A2B2D;
  transition: .3s;
}

@media (hover: hover) {
  .productCard:hover {
    scale: 1.05;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .productCard:hover .bookName {
    color: var(--van-dyke)
  }
}

@media (max-width: 500px) {
  .imageBox {
    min-width: 250px;
    width: 50%;
    height: 50vh;
    max-height: 500px;
    margin: 0 auto;
  }
}





