* {
  box-sizing: border-box;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.pageBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 2rem;
  margin: 0 auto;
  width: 100%;
  align-items: flex-start;
  background: #f1f5f9;
}

.fontAdaptiveName {
  font-size: calc(30px + 14 * ((100vw - 320px) / (1280 - 320)));
}
.fontAdaptiveAutor {
  font-size: calc(17px + 10 * ((100vw - 320px) / (1280 - 320)))
}

.imageBox {
  min-width: 450px;
  width: 25%;
  height: 700px;
  /*max-height: 500px;*/
}

.myButton {
  background-color: transparent;
  background-color: #125e7a;
  border: 0;
  border-radius: 4px;
  color: inherit;
  color: #fff;
  font-family: inherit;
  letter-spacing: .02em;
  max-width: 272px;
  padding: 16px;
  text-align: center;
  text-transform: uppercase;
  transition: background-color .2s ease;
  transition: .15s linear;
  font-weight: bold;
}

.descBox {
  width: 41%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.imageWrapper {
  height: 100%;
}

.image {
  height: 100%;
}

.descriptionBox {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
  width: 100%;
}

.annotaion {
  text-align: justify;
}

.goToMyCartBox {
  height: 60px;
  display: flex;
  align-items: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  gap: 10px;
}

.GoToCartBtn {
  display: block;
  color: black;
  background: linear-gradient(to right bottom, rgb(227, 160, 8), rgb(255, 138, 76));
}

.deleteProductBox {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.deleteProductBox * {
  height: 50%;
}

.myButton {
  transition: .1s ease-out;
}


@media (max-width: 800px) {
  .descriptionBox {
    display: flex;
    gap: 50px;
    flex-direction: column;
    min-width: 350px;
    margin: 20px 0;
    width: 100%;
    padding: 0 15px;
  }
}

.moduleImg {
  height: 100%;
}

@media (max-width: 500px) {
  .moduleImg {
    width: 100% !important;
    height: auto;
  }
}


:root {
  --caput-mortuum: #633427ff;
  --caput-mortuum-2: #4d2f27ff;
  --taupe: #46403dff;
  --rust: #a94d29ff;
  --van-dyke: #3c2d29ff;
}


.productCard {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 305px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  transition: .3s;
}

.productCard__imgWr {
  height: 322px;
  width: 100%;
  margin-bottom: 16px;
  background-color: #fff;
  position: relative;
  box-sizing: border-box;
}

.productCard__imgWr__imgBox {
  height: 100%;
  padding: 16px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.productCard__imgWr__imgBox__img {
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.bookSpanBox {
  color: rgb(13, 12, 34);
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.bookItemMoney {
  font-size: calc(20px + 14 * ((100vw - 320px) / (1280 - 320)));
  line-height: 24px;
  font-weight: 600;
  color: rgb(13, 12, 34);
  text-align: center;
}
.bookItemMoneyWithDiscount {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.bookName {
  color: #2A2B2D;
  transition: .3s;
}

@media (hover: hover) {
  .productCard:hover {
    scale: 1.05;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  .productCard:hover .bookName {
    color: var(--van-dyke)
  }

  .myButton:hover {
    transform: none !important;
    color: #707070;
  }
}

@media (max-width: 500px) {
  .imageBox {
    min-width: 250px;
    width: 100%;
    height: 50vh;
    max-height: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 1240px) {
  .pageBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 2rem;
    margin: 0 auto;
    width: 100%;
    align-items: center;
    background: #f1f5f9;
  }
  
  .descBox {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .descriptionBox {
    display: flex;
    gap: 50px;
    flex-direction: column;
    min-width: 350px;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .descBox {
    width: 100%;
  }

  .descriptionBox {
    display: flex;
    gap: 50px;
    flex-direction: column;
    min-width: 150px;
    width: 100%;
    padding: 0 0;
  }
}





