.wrapper {
  width: 100%;
  background: #f6f8ed;
  position: relative;
}

.firstSection {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.firstSectionContentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.firstSectionRightMenu {
  height: 100%;
  width: 36%;
  background: linear-gradient(#cfecd0, #ffc5ca);
}

.title {
  font-size: 32px;
}

.titleBox {
  width: 100%;
}

.firstSectionBox {
  width: 64%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #FF8552;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  padding-left: 80px;
  z-index: 100;
}

.descSectionOnePhotoContentBox {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 400px;
  padding: 0 5%;
}

.descSectionOnePhotoContentPhoto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../../../src/assets/photo/vitalik.jpg");
}
.descSectionOnePhotoContentPhotoSerg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../../../src/assets/photo/serg.jpg");
}.descSectionOnePhotoContentPhotoAlex {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: url("../../../src/assets/photo/alex.jpg");
}

.firstSectionDesc {
  font-weight: bold;
  align-self: flex-start;
  padding-right: 15px;
}

.firstSectionDesc p + p {
  margin-top: 15px;
  font-weight: normal;
}


.logoPhoto {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  position: relative;
  background-image: url(../../../src/assets/photo/MyCollages.jpg);
  background-size: cover;
  object-fit: cover;
}
.logoPhoto::after {
  z-index: -1;
  content: "";
  position: absolute;
  right: -50px;
  top: -50px;
  width: 400px;
  height: 400px;
  background: #8e6f9f;
}

.logoPhotoCur {
  width: 100%;
  object-fit: contain;
}

.descSectionOne {
  height: 1000px;
  width: 100%;
  display: flex;
}

.descSectionOneDecriptionContentTitle {
  font-weight: bold;
}

.descSectionOneDecription {
  width: 100%;
  height: 100%;
  display: flex;

}

.thanksSection {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thanksBox {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.rsLogo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 200px;
  height: 50px;
  background-image: url("../../../src/assets/logo/logoRs.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}

.rsParagraph {
  text-align: center;
  font-weight: bold;
}

.descSectionOnePhotoContentDescVal,
.descSectionOneDecriptionContentDescValue {
  text-align: justify;
}

.descSectionOneDecriptionContentBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  gap: 10px;
  min-height: 400px;
  background:#297373 ;
  color: white;
}

.descSectionOneDecriptionContentBoxWrapper{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.descSectionOnePhotoContentBoxWrapper {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media (min-width: 300px) {
  .firstSection {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
  }
  
  .changeOrderFirt {
    order: 2;
  }
  
  .changeOrderFirtTitle {
    align-self: flex-start !important;
  }
   
  .titleBox {
    width: 100%;
  }
  firstSectionBox {
    padding-left: 20px;

  }
  
  
  .title {
    font-size: 35px;
    text-decoration: underline;
  }

  .logoPhoto {
    width: 150px;
    height: 150px;

  }

  .logoPhoto:after {
    width: 150px;
    height: 150px;
    top: -25px;
    right: -25px;
  }

  .firstSectionBox {
    justify-content: center;
    padding-left: 20px;
  }

  .descSectionOneDecription {
    flex-direction: column;
    width: 100%;
  }

  .firstSection {
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: space-between;
  }

  .descSectionOneDecriptionContentTitle {
    font-size: 26px;
  }

  .descSectionOneDecriptionContentBox,
  .descSectionOnePhotoContentBox {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
  }

  .descSectionOne {
    height: auto;
    width: 100%;
    display: flex;
  }

  .thanksSection {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thanksBox {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 100px;
    text-decoration: underline;
  }
  
  .descSectionOneDecription {
    flex-direction: row;
  }

  .firstSectionBox {
    justify-content: center;
  }

  .logoPhoto {
    width: 250px;
    height: 250px;

  }

  .logoPhoto:after {
    width: 250px;
    height: 250px;

  }

  .firstSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
  }

  .descSectionOneDecriptionContentTitle {
    font-size: 40px;
  }

  .descSectionOneDecriptionContentBox,
  .descSectionOnePhotoContentBox {
    padding-top: 0;
    padding-bottom: 0;
    width: 50%;
  }

  .descSectionOne {
    height: 1000px;
    width: 100%;
    display: flex;
  }

  .thanksSection {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .changeOrderFirt {
    order: 1;
  }

  .changeOrderFirtTitle {
    align-self: flex-end !important;
  }

  .thanksBox {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .changeOrderSecond {
    order: 2;
  }
  
  
}


@media (min-width: 1280px) {
  .title {
    font-size: 150px;
    text-decoration: underline;
  }
  
  .firstSection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
  }

  .firstSectionBox {
    padding-left: 80px;
    
  }

  .titleBox {
    width: 100%;
  }

  .logoPhoto {
    width: 400px;
    height: 400px;

  }

  .logoPhoto:after {
    width: 400px;
    height: 400px;

  }

  .descSectionOneDecriptionContentTitle {
    font-size: 60px;
  }
  
  .descSectionOneDecription {
    flex-direction: row;
  }
  
  .descSectionOneDecriptionContentBox,
  .descSectionOnePhotoContentBox {
    padding-top: 0;
    padding-bottom: 0;
    width: 50%;
  }

  .descSectionOne {
    height: 1000px;
    width: 100%;
    display: flex;
  }

  .changeOrderFirt {
    order: 1;
  }
  
  .changeOrderSecond {
    order: 2;
  }

  .changeOrderFirtTitle {
    align-self: flex-end !important;
  }

  .thanksSection {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thanksBox {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  
}
