:root {
  --caput-mortuum: #633427ff;
  --caput-mortuum-2: #4d2f27ff;
  --taupe: #46403dff;
  --rust: #a94d29ff;
  --van-dyke: #3c2d29ff;
}


.productCard {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 240px;
  position: relative;
  box-sizing: border-box;
  flex-shrink: 0;
  cursor: pointer;
  transition: .3s;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productCard__imgWr {
  height: 322px;
  width: 100%;
  margin-bottom: 16px;
  background-color: inherit;
  position: relative;
  box-sizing: border-box;
}

.productCard__imgWr__imgBox {
  height: 100%;
  padding: 16px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.productCard__imgWr__imgBox__img {
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 1px 11px 21px 3px #5c5c5c;
}

.bookSpanBox {
  margin-bottom: 8px;
  display: flex;
  color: rgb(148, 149, 153);
}


.flexEnd {
  justify-content: flex-end;
}
.flexCenter {
  justify-content: center;
}

.bookItemMoney {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: rgb(97 98 102);
}
.bookItemMoneyWithDiscount {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.bookName {
  line-height: 24px;
  font-weight: 600;
  color: rgb(148, 149, 153);
  transition: .3s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.moneyBox:hover span {
  transition: color 0.3s ease;
  color: rgb(148, 149, 153);
}

@media (hover: hover) {
  .productCard:hover {
    scale: 1.05;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .moneyBox:hover span {
    color: #11271e !important;
  }

  .moneyBox:hover hr {
    background-color: #11271e;
  }
}



