:root {
  --caput-mortuum: #633427ff;
  --caput-mortuum-2: #4d2f27ff;
  --taupe: #46403dff;
  --rust: #816b62;
  --van-dyke: #3c2d29ff;
}


* {
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 150px;
    min-height: 100px;
  background: #04171e;
  color: #8b918f;
  padding: 0 15px;
}

.logoContainer {
  gap: 15px;
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
}

@media (max-width: 600px) {
  .textLogo {
      display: none;
  }

  .logoContainer {
    gap: 8px;
    display: flex;
    align-items: center;
    font-weight: bold;
    border: none;
    width: 100%;
    justify-content: space-evenly;
  }

  .headerContainer {
    max-height: 300px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .navContainer {
    justify-content: space-evenly;
    width: 100%;
  }
  
  .navContent {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

}

