:root {
  --caput-mortuum: #633427ff;
  --caput-mortuum-2: #4d2f27ff;
  --taupe: #46403dff;
  --rust: #d36134;
  --van-dyke: #3c2d29ff;
}

.burgerBox {
  width: 300px;
  height: 100%;
  overflow: hidden;
  background: rgba(65, 65, 65, 0.68);

  position: fixed;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  top: 50px;
  left: 0;
  
  transition: .3s;
}

.title {
  font-weight: bold;
  font-size: 40px;
}

.listEl {
  font-size: 30px;
  cursor: pointer;
  transition: .3s;
}
.listElActive {
  font-size: 30px;
  cursor: pointer;
  transition: .3s;
  color: rgb(208, 163, 142)
}


@media (hover: hover) {
  .listEl:hover {
    scale: 1.1;
    color: rgb(204, 141, 112)
  }
}
